<div class='modal-header'>
    {$edit_state? '修改' : '新增'}
</div>
<div class='modal-body '>
    <form class='' role='form' id='form'>
        <input type='hidden' name='id' value='{$model.id|default=""}'/>
        <div class='row'>
            <div class='col-sm-6'>
                <div class='form-group'>
                    <label>用户名</label>
                    <if condition="$edit_state eq false">
                        <p><input type='text' class='form-control' id='user_name' name='user_name' autocomplete='off'/>
                        </p>
                        <else/>
                        <p>{$model.user_name|default=""}</p>
                        <input type="hidden" id="user_name" name="user_name" value="{$model.user_name|default=''}">
                    </if>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>状态</label>
                    <p>
                        <html:radio name="active" data='active_list' class="checkbox-initem i-checks"
                                    checked="model['active']"/>
                    </p>
                </div>
            </div>
        </div>
        <div class='row'>
            <if condition="$edit_state eq false">
                <div class="form-group col-sm-6">
                    <label>密码</label>
                    <p>
                        <input type="password" class="form-control" id="password" name="password"
                               autocomplete="off"/>
                    </p>
                </div>
                <div class="form-group col-sm-6">
                    <label>确认密码</label>
                    <p>
                        <input type="password" class="form-control" id="confirmpassword" name="confirmpassword"
                               autocomplete="off"/>
                    </p>
                </div>
            </if>
            <div class='col-sm-6'>
                <div class='form-group'>
                    <label>真实姓名</label>
                    <p><input type='text' class='form-control' id='name' name='name' value='{$model.name|default=""}'
                              autocomplete='off'/></p>
                </div>
            </div>
            <div class='col-sm-6'>
                <div class='form-group'>
                    <label>身份证号</label>
                    <p><input type='text' class='form-control' id='id_number' name='id_number' minlength="18" maxlength="18"
                              value='{$model.id_number|default=""}' autocomplete='off'/></p>
                </div>
            </div>
            <div class='col-sm-6'>
                <div class='form-group'>
                    <label>手机号</label>
                    <p><input type='text' class='form-control' id='phone' name='phone' value='{$model.phone|default=""}'
                              minlength="11" maxlength="11" autocomplete='off'/></p>
                </div>
            </div>
            <div class='col-sm-6'>
                <div class='form-group'>
                    <label>性别</label>
                    <p>
                        <html:radio name="sex" data='gender_list' class="checkbox-initem i-checks"
                                    checked="model['sex']"/>
                    </p>
                </div>
            </div>
            <div class='col-sm-6'>
                <div class='form-group'>
                    <label>出生年月</label>
                    <div class="input-group date day">
                        <input type="text" class="form-control" id="birthday" name="birthday"
                               value="{$model.birthday|default=''}"
                               placeholder="选择日期">
                        <span class="input-group-addon green-date-button-able"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class='col-sm-6'>
                <div class='form-group'>
                    <label>入职时间</label>
                    <div class="input-group date day">
                        <input type="text" class="form-control" id="entry_time" name="entry_time"
                               value="{$model.entry_time|default=''}"
                               placeholder="选择日期">
                        <span class="input-group-addon green-date-button-able"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div style="display: inline-block; width: 100%; box-sizing: border-box; position:relative; z-index: 3333;">
                <div id="organ_tree" class="col-sm-6"
                     style="background-color:#FFF;border: 1px solid #e5e6e7;display: none;"></div>
            </div>
            <div class='col-sm-6'>
                <div class="form-group">
                    <label>所属部门</label>
                    <p>
                        <input type="text" class="form-control" id="node_name" name="node_name" readonly="readonly"
                               value="{$model.organ_name|default=''}" autocomplete="off"/>
                    </p>
                    <input type="hidden" id="node_id" name="organ_id" value="{$model.organ_id|default=''}"/>
                </div>
            </div>
            <div class='col-sm-6'>
                <div class='form-group'>
                    <label>人员身份类型</label>
                    <p>
                        <html:select name="user_type" data='user_type_list' class="form-control"
                                     selected="model['user_type']" data-value="id" data-key="value"
                                     first="请选择"/>
                    </p>
                </div>
            </div>
            <div class='col-sm-12'>
                <div class='form-group'>
                    <label>职务</label>
                    <p>
                        <html:select id="position_ids" name="position_ids[]" data='position_list' class="form-control"
                                     multiple="multiple" data-key="name" data-value="id"
                                     selected="model['position_ids']"/>
                    </p>
                </div>
            </div>
        </div>
    </form>
</div>
<div class='modal-footer'>
    <button type='button' class='btn btn-default' data-dismiss='modal'>取消</button>
    <button type='button' class='btn btn-primary' data-style='zoom-in' id='submit'>提交</button>
</div>

<script type='text/javascript'>
    $(document).ready(function () {
        $('.day').datepicker({
            language: 'zh-CN',
            format: "yyyy-mm-dd",
            autoclose: true,
            pickerPosition: 'top-left',
            todayHighlight: true,
            todayBtn: 'linked',
        });
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        $("#position_ids").select2({
                language: "zh-CN",
                placeholder: "请选择",
            }
        );

        function validate() {
            if ($("#password")) {
                return $("#form").validate({
                    rules: {
                        user_name: {
                            required: true
                        },
                        password: {
                            required: true
                        },
                        node_name: {
                            required: true
                        },
                        'position_ids[]': {
                            required: true
                        },
                        confirmpassword: {
                            required: true
                        },
                        name: {
                            required: true
                        },
                        id_number: {
                            required: true
                        },
                        phone: {
                            required: true,
                            digits: true
                        },
                        birthday: {
                            required: true
                        },
                        entry_time: {
                            required: true
                        },
                        user_type: {
                            required: true
                        },
                        organ_id: {
                            required: true
                        },
                        position_ids: {
                            required: true
                        }
                    },
                }).form();
            } else {
                return $("#form").validate({
                    rules: {
                        user_name: {
                            required: true,
                        },
                        password: {
                            required: true,
                        },
                        confirmpassword: {
                            required: true,
                            equalTo: "#password"
                        },
                        name: {
                            required: true
                        },
                        id_number: {
                            required: true
                        },
                        phone: {
                            required: true,
                            digits: true,
                        },
                        birthday: {
                            required: true
                        },
                        entry_time: {
                            required: true
                        },
                        user_type: {
                            required: true
                        },
                        organ_id: {
                            required: true
                        },
                        'position_ids[]': {
                            required: true
                        },
                        position_ids: {
                            required: true
                        }
                    },
                }).form();
            }
        }

        $('#submit').click(function () {
            if (validate()) {
                var load_btn = Ladda.create(this);
                load_btn.start();
                var data = $('#form').serialize();
                $.ajax({
                    type: 'POST',
                    url: 'save',
                    data: data,
                    success: function (data) {
                        if (check_status(data)) {
                            $('#modal-md').modal('hide');
                            data_table.draw();
                        }
                    },
                    error: function () {
                        toastr['error']('Error Occurred');
                    }
                }).always(function () {
                    load_btn.stop();
                });
            }
        });

        var treeId = "organ_tree";
        $(document).click(function (e) {
            var el = $(e.target).parents("#" + treeId);
            if (el.length == 0 || el.length > 0 && el[0].id != treeId) {
                $("#" + treeId).hide();
            }
        });

        $("#node_name").click(function (event) {
            event.stopPropagation();
            var A_width = $(this).parent().width();
            var A_top = -($("#organ_tree").outerHeight(true) - $(this).outerHeight(true))//$(this).position().top + $(this).outerHeight(true);  //  1
            var A_left = $(this).position().left;
            $("#" + treeId).show().css({
                "position": "absolute",
                "width": A_width,
                "top": A_top + "px",
                "left": A_left + "px"
            });

            checkSelectNode();
        });
        $("#" + treeId).jstree({
            "core": {
                'data': {
                    'url': '/admin/department/getOrganTree',
                    'dataType': 'json',
                    'data': function (node) {
                        return {'id': node.id};
                    },
                    success: function () {
                        //checkSelectNode();
                    }
                },
                "check_callback": true,
                'multiple': false,
            },
            "plugins": ["wholerow"]
        }).bind('activate_node.jstree', function (obj, e) {
            var eventNode = e.node;
            if (eventNode.parent != "#") {
                uncheckPreNode();
                $("#" + treeId).hide();
                $("#node_id").val(eventNode.id);
                $("#node_name").val(eventNode.text);
            } else {
                var ref = $("#" + treeId).jstree(true);
                ref.deselect_node(eventNode);
            }
        });

        function checkSelectNode() {
            var node_id = $('#node_id').val();
            var node = $("#" + treeId).jstree("get_node", "#" + node_id);
            var ref = $("#" + treeId).jstree(true);
            ref.select_node(node);
        }

        function uncheckPreNode() {
            var node_id = $('#node_id').val();
            var node = $("#" + treeId).jstree("get_node", "#" + node_id);
            var ref = $("#" + treeId).jstree(true);
            ref.deselect_node(node);
        }
    });
</script>
