<div class='modal-header'>
    {$edit_state? '修改' : '新增'}
</div>
<div class='modal-body '>
    <form class='' role='form' id='form'>
        <input type='hidden' name='id' value='{$model.id|default=""}' />
        <div class='row'>
            <div class='col-sm-6'>
                <div class='form-group'>
                    <label>案件名称</label>
                    <p><input type='text' class='form-control' id='name' name='name' value='{$model.name|default=""}' autocomplete='off'/></p>
                </div>
            </div>
            <div class='col-sm-6'>
                <div class='form-group'>
                    <label>开庭时间</label>
                    <p>
                    <div class="input-group date day">
                        <input type="text" class="form-control" id="court_time" name="court_time"
                               value="{$model.court_time|default=''}"
                               placeholder="选择日期">
                        <span class="input-group-addon green-date-button-able"><i class="fa fa-calendar"></i></span>
                    </div>
                    </p>
                </div>
            </div>
            <div class='col-sm-6'>
                <div class='form-group'>
                    <label>开庭地点</label>
                    <p><input type='text' class='form-control' id='court_where' name='court_where' value='{$model.court_where|default=""}' autocomplete='off'/></p>
                </div>
            </div>
            <div class='col-sm-6'>
                <div class='form-group'>
                    <label>公诉人</label>
                    <p><input type='text' class='form-control' id='web_user_id' name='web_user_id' value='{$model.web_user_id|default=""}' autocomplete='off'/></p>
                </div>
            </div>
            <div class='col-sm-6'>
                <div class='form-group'>
                    <label>审判程序</label>
                    <p><input type='text' class='form-control' id='procedure' name='procedure' value='{$model.procedure|default=""}' autocomplete='off'/></p>
                </div>
            </div>
            <div class='col-sm-6'>
                <div class='form-group'>
                    <label>是否公开</label>
                    <p>
                        <html:radio name="is_open" data='is_open_list' class="checkbox-initem i-checks"
                                    checked="model['is_open']"/>
                    </p>
                </div>
            </div>
        </div>
    </form>
</div>
<div class='modal-footer'>
    <button type='button' class='btn btn-default' data-dismiss='modal'>取消</button>
    <button type='button' class='btn btn-primary' data-style='zoom-in' id='submit'>提交</button>
</div>

<script type='text/javascript'>
    $(document).ready(function () {
        $('.day').datetimepicker({
            language: 'zh-CN',
            format: "yyyy-mm-dd hh:ii",
            autoclose: true,
            pickerPosition: 'top-left',
            todayHighlight: true,
            todayBtn: 'linked',
        });
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        function validate(){
            return $('#form').validate({
                rules: {
                    key: {
                        required: true,
                    }
                },
            }).form();
        }
        $('#submit').click(function () {
            if (validate()) {
                var load_btn = Ladda.create(this);
                load_btn.start();
                var data = $('#form').serialize();
                $.ajax({
                    type: 'POST',
                    url: 'save',
                    data: data,
                    success: function (data) {
                        if (check_status(data)){
                            $('#modal-md').modal('hide');
                            data_table.draw();
                        }
                    },
                    error: function () {
                        toastr['error']('Error Occurred');
                    }
                }).always(function () {
                    load_btn.stop();
                });
            }
        });
    });
</script>
