<div class='modal-header'>
    {$edit_state? '修改' : '新增'}
</div>
<div class='modal-body '>
    <form class='' role='form' id='form'>
        <input type='hidden' name='id' value='{$model.id|default=""}'/>
        <div class='row'>
            <div class='col-sm-12'>
                <div class='form-group'>
                    <label>案件名称</label>
                    <p><input type='text' class='form-control' id='name' name='name' value='{$model.name|default=""}'
                              autocomplete='off'/></p>
                </div>
            </div>
            <div class='col-sm-6'>
                <div class='form-group'>
                    <label>开庭时间</label>
                    <div class="input-group date day">
                        <input type="text" class="form-control" id="court_time" name="court_time"
                               value="{$model.court_time|default=''}"
                               placeholder="选择日期">
                        <span class="input-group-addon green-date-button-able"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class='col-sm-6'>
                <div class='form-group'>
                    <label>开庭地点</label>
                    <p><input type='text' class='form-control' id='court_where' name='court_where'
                              value='{$model.court_where|default=""}' autocomplete='off'/></p>
                </div>
            </div>
            <div class='col-sm-6'>
                <div class='form-group'>
                    <label>公诉人</label>
                    <p>
                        <html:select id="web_user_ids" name="web_user_ids[]" data='web_user_list' class="form-control"
                                     multiple="multiple"
                                     selected="model['web_user_ids']" data-value="id" data-key="name" first="请选择"/>
                </div>
            </div>
            <div class='col-sm-6'>
                <div class='form-group'>
                    <label>审判程序</label>
                    <p>
                        <html:select name="procedure" data='procedure_type' class="form-control"
                                     selected="model['procedure']" first="请选择"/>
                    </p>
                </div>
            </div>
            <div class='col-sm-6'>
                <div class='form-group'>
                    <label>是否公开审理</label>
                    <p>
                        <html:radio name="is_open" data='is_open_list' class="checkbox-initem i-checks"
                                    checked="model['is_open']"/>
                    </p>
                </div>
            </div>
        </div>
    </form>
</div>
<div class='modal-footer'>
    <button type='button' class='btn btn-default' data-dismiss='modal'>取消</button>
    <button type='button' class='btn btn-primary' data-style='zoom-in' id='submit'>提交</button>
</div>

<script type='text/javascript'>
    $(document).ready(function () {
        $('#court_time').datetimepicker({
            language: 'zh-CN',
            format: "yyyy-mm-dd hh:ii",
            // format: "yyyy-mm-dd",
            autoclose: true,
            minuteStep: 30,
            todayHighlight: true,
            todayBtn: true,
            pickerPosition: "bottom-left"
        });
        $(".input-group-addon").click(function () {
            $('#court_time').focus();
        });
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        $("#web_user_ids").select2({
                language: "zh-CN",
                placeholder: "请选择",
            }
        );

        function validate() {
            return $('#form').validate({
                rules: {
                    name: {
                        required: true,
                    },
                    court_time: {
                        required: true,
                    },
                    court_where: {
                        required: true,
                    },
                    'web_user_ids[]': {
                        required: true,
                    },
                    procedure: {
                        required: true,
                    },
                    is_open: {
                        required: true,
                    },
                },
            }).form();
        }

        $('#submit').click(function () {
            if (validate()) {
                var load_btn = Ladda.create(this);
                load_btn.start();
                var data = $('#form').serialize();
                $.ajax({
                    type: 'POST',
                    url: 'save',
                    data: data,
                    success: function (data) {
                        if (check_status(data)) {
                            $('#modal-md').modal('hide');
                            data_table.draw();
                        }
                    },
                    error: function () {
                        toastr['error']('Error Occurred');
                    }
                }).always(function () {
                    load_btn.stop();
                });
            }
        });
    });
</script>
