<extend name="public/base"/>

<block name="title">办案公示</block>
<block name="content">
    <div class="container breadcrumb">
        当前位置： 网站首页 >
        <if condition="empty($section_item['url'])">
            <a href="/home/index/case_list/section_id/{$section_id}.html">{$section_item['name']}</a>
            <else/>
            <a href="{$section_item['url']}" target="_blank">{$section_item['name']}</a>
        </if>
    </div>
    <div class="container mt-15">
        <div class="fl" style="width: 220px;border: 1px solid #eee;padding: 20px;">
            <if condition="empty($section_item['url'])">
                <a href="{:url('index/case_list',['section_id'=>$section_item['id']])}"
                   class="menu active">{$section_item['name']}</a>
                <else/>
                <a href="{$section_item['url']}" target="_blank" class="menu active">{$section_item['name']}</a>
            </if>
        </div>
        <div class="block-box fr" style="width: 950px;">
            <div class="block-title"><label class="color-primary">办案公示</label></div>
            <div class="block-content">
                <table class="table-main w-100x">
                    <thead>
                    <tr>
                        <th width="100px">检察官姓名</th>
                        <th width="80px">办案数量</th>
                        <th>分管/协管/所在业务部门</th>
                        <th style="width: 500px">办案分类统计</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="case_list" id="item">
                        <tr>
                            <td style="text-align: left;">{$item['web_user_name']}</td>
                            <td>{$item['case_count']}</td>
                            <td>{$item['depart_name']}</td>
                            <td>{$item['type_name']}</td>
                            <td><a data-menu="case_info" class="btn btn-primary px-20 fr" href="{:url('index/case_detail',['web_user_id'=>$item['web_user_id']])}">明细</a></td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
                <html:pager total="$total_page" index="$page"/>
            </div>
        </div>
        <div class="clear mt-15"></div>
    </div>
</block>
<block name="script">
</block>