<extend name="public/base"/>

<block name="title"></block>
<block name="content">
    <div class="container breadcrumb">
        当前位置： 网站首页 >
        <if condition="empty($section['url'])">
            <a href="/home/index/case_list/section_id/{$section['id']}.html">{$section['name']}</a>
            <else/>
            <a href="{$section['url']}" target="_blank">{$section['name']}</a>
        </if>
        > <a href="#">正文</a>
    </div>
    <div class="container mt-15">
        <div class="fl" style="width: 220px;border: 1px solid #eee;padding: 20px;">
            <if condition="empty($section['url'])">
                <a href="{:url('index/case_list',['section_id'=>$section['id']])}"
                   class="menu active">{$section['name']}</a>
                <else/>
                <a href="{$section['url']}" target="_blank" class="menu active">{$section['name']}</a>
            </if>
        </div>
        <div class="block-box fr" style="width: 950px;">
            <div class="block-content pa-20">
                <table class="table-main w-100x">
                    <thead>
                    <tr>
                        <th>受理日期</th>
                        <th>案件名称</th>
                        <th>案件类别</th>
                        <th>所属部门</th>
                        <th>案件状态</th>
                        <th>到期日期</th>
                        <th>办结日期</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="pager">
                        <td>{$case_info['accept_time']}</td>
                        <td>{$case_info['name']}</td>
                        <td>{$case_info['type_name']}</td>
                        <td>{$case_info['department']}</td>
                        <td>{$case_info['status']}</td>
                        <td>{$case_info['due_time']}</td>
                        <td>{$case_info['over_time']}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="clear mt-15"></div>
    </div>
</block>
<block name="script">
</block>