<extend name="public/base"/>

<block name="title"></block>
<block name="content">
    <div class="container breadcrumb">
        当前位置： 网站首页 > <a href="/home/index/login.html">登录</a> > 忘记密码
    </div>
    <div class="container mt-15">
        <div class="block-box">
            <div class="block-title"><label class="color-primary">忘记密码</label></div>
            <div class="block-content pa-40 text-center font-16">
                <div class="mb-10">
                    请联系管理员重置密码
                </div>
                <a href="/home/index/login.html" class="btn btn-default px-30 mt-15">返回</a>
            </div>
        </div>
        <div class="clear mt-15"></div>
    </div>
</block>
<block name="script">
</block>