<extend name="public/base"/>

<block name="title">人员电话表</block>
<block name="content">
    <div class="container breadcrumb">
        当前位置： 网站首页 > <a href="/home/index/phone_list.html">人员电话表</a>
    </div>
    <div class="container mt-15">
        <div class="block-box" style="">
            <div class="block-title">
                <label class="color-primary">人员电话表</label><span></span>
                <a class="fr pa-8" id="btn_search" href="javascript:;"><i class="fa fa-search"></i> </a>
                <input type="text" placeholder="姓名/手机号" class="fr phone-search-content">
            </div>
            <div class="block-content">
                <volist name="organ_list" id="organ">
                    <div class="organ-title"><label class="color-primary">{$organ.name}</label></div>
                    <ul>
                        <volist name="organ['phone_list']" id="item">
                            <li class="fl w-20x my-10 phone-item">
                                {$item.name} - {$item.phone}
                            </li>
                        </volist>
                        <li class="clear"></li>
                    </ul>
                </volist>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script>
        $(function () {
            function search() {
                if ($(".phone-search-content").val() != '') {
                    $(".phone-item").each(function () {
                        if ($(this).text().indexOf($(".phone-search-content").val()) >= 0) {
                            $(this).removeClass('d-none').addClass('found');
                        }
                        else {
                            $(this).addClass('d-none').removeClass('found');
                        }
                    });
                }
                else {
                    $(".phone-item").removeClass('d-none').removeClass('found');
                }
            }

            $("#btn_search").click(function () {
                search();
            });
            $(".phone-search-content").keydown(function (e) {
                if (e.which == 13) {
                    search();
                }
            });
        });

    </script>
</block>