<extend name="public/base"/>

<block name="title">党务检务公开</block>
<block name="content">
    <div class="container breadcrumb">
        当前位置： 网站首页 > <a href="#">党务检务公开</a>
    </div>
    <div class="container mt-15">
        <div class="fl" style="width: 220px;border: 1px solid #eee;padding: 20px;">
            <a href="party_check_list.html" class="menu">党费缴纳情况公示</a>
            <a href="score_history.html" class="menu active">党员积分情况公示</a>
        </div>
        <div class="block-box fr" style="width: 950px;">
            <div class="block-title"><label class="color-primary">党务检务公开</label></div>
            <div class="block-content">
                <ul class="article-list">

                </ul>

            </div>
        </div>
        <div class="clear mt-15"></div>
    </div>
</block>
<block name="script">
</block>