<extend name="public/base"/>

<block name="title">缓存管理</block>
<block name="content">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>缓存管理</h2>
            <ol class="breadcrumb">
                <li>
                    <a>系统设置</a>
                </li>
                <li class="active">
                    <strong>清除缓存</strong>
                </li>
            </ol>
        </div>
        <div class='col-lg-2'>
            <div class='text-center'>
                <a id="submit" class="btn btn-primary m-t-lg">清除缓存</a>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        $(document).ready(function () {


            $("#submit").click(function () {

                swal({
                    title: "",
                    text: "确定要清除?",
                    showCancelButton: true,
                    confirmButtonColor: "#18a689",
                    confirmButtonText: "确定",
                    cancelButtonColor: "#e6e6e6",
                    cancelButtonText: "取消"
                }, function () {
                    $.ajax({
                        type: 'POST',
                        url: "clear",
                        dataType: 'json',
                        async: false,
                        data: {},
                        success: function (data) {
                            check_status(data);
                        }
                    });
                });
            });
        });
    </script>
</block>