<extend name="public/user_base"/>

<block name="title"></block>
<block name="content_right">
    <div class="block-content pa-20">
        <div class="font-14 mb-10">
            个人中心 > <a href="#">党员积分</a>

        </div>
        <div class="my-10">
            您当前的积分：<span class="h2 color-primary">{$sum_score}</span>
        </div>
        <table class="table-main w-100x mt-30">
            <thead>
            <tr>
                <th>积分项</th>
                <th width="160">获取积分</th>
                <th width="160">获取时间</th>
            </tr>
            </thead>
            <tbody>
            <volist name="records" id="item">
                <tr>
                    <td class="fl">{$item.score_item_name}</td>
                    <td>{$item.score_item_score}</td>
                    <td>{$item.get_time}</td>
                </tr>
            </volist>
            </tbody>
        </table>
        <html:pager total="$total_page" index="$page"/>
    </div>
</block>
<block name="script">
</block>