<extend name="public/user_base"/>

<block name="title"></block>
<block name="content_right">
    <div class="block-content pa-20">
        <div class="font-14 mb-10">
            个人中心 > <a href="#">修改密码</a>
        </div>
        <form id="form">
            <div class="w-50x">
                <div class="form-group">
                    <label for="">旧密码</label>
                    <div>
                        <input class="form-control" type="password" id="oldpassword" name="oldpassword">
                    </div>
                </div>
            </div>
            <div class="w-50x">
                <div class="form-group">
                    <label for="">新密码</label>
                    <div>
                        <input class="form-control" type="password" id="password" name="password">
                    </div>
                </div>
            </div>
            <div class="w-50x">
                <div class="form-group">
                    <label for="">确认新密码</label>
                    <div>
                        <input class="form-control" type="password" name="confirmpassword">
                    </div>
                </div>
            </div>
            <div class="mt-15">
                <a class="btn btn-primary px-30" id="submit">提交</a>
            </div>
        </form>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        $(function () {
            function validate() {
                return $("#form").validate({
                    rules: {
                        oldpassword: {
                            required: true,
                        },
                        password: {
                            required: true,
                        },
                        confirmpassword: {
                            required: true,
                            equalTo:'#password'
                        },
                    },
                    messages:{
                        oldpassword: {
                            required: '请输入旧密码',
                        },
                        password: {
                            required: '请输入新密码',
                        },
                        confirmpassword: {
                            required: '请确认新密码',
                            equalTo:'两次输入的密码不一致'
                        },
                    },
                    errorPlacement: function (error, element) {
                    },
                    showErrors: function (errorMap, errorList) {
                        if (errorList.length > 0) {
                            toastr.remove();
                            toastr.error(errorList[0]['message']);
                        }
                        this.defaultShowErrors();
                    }
                }).form();
            }

            $("#submit").click(function () {
                if (validate()) {
                    $.ajax({
                        type: 'POST',
                        url: "reset_password",
                        data: {
                            oldpassword: $("#oldpassword").val(),
                            password: $("#password").val(),
                        },
                        success: function (data) {
                            if (data.status == 0) {
                                toastr.remove();
                                toastr.error(data.message);
                                return false;
                            } else {
                                window.location.href = '/home/index/log_out';
                            }
                        },
                        error: function () {
                            toastr.remove();
                            toastr.error('Error Occurred');
                        }
                    });
                }
            });
        })
    </script>

</block>