<div class='modal-header'>
    缴纳党费
</div>
<div class='modal-body '>
    <form class='' role='form' id='form'>
        <input type='hidden' name='id' value='{$model.id|default=""}'/>
        <div class='row'>
            <div class='col-sm-12'>
                <div class='form-group'>
                    <label>党员姓名</label>
                    <p>
                        <if condition="$edit_state eq false">
                            <html:select id="web_user_id" name="web_user_id" data='web_user_list' class="form-control"
                                         selected="model['web_user_id']" first="请选择"/>
                            <else/>
                            <input class='form-control' type="text" id="web_user_name" readonly="readonly"
                                   value="{$model.web_user_name|default=''}">
                            <input type="hidden" id="web_user_id" name="web_user_id" readonly="readonly"
                                   value="{$model.web_user_id|default=''}">
                        </if>
                    </p>
                </div>
            </div>
            <div class='col-sm-12'>
                <div class='form-group'>
                    <label>缴纳年份</label>
                    <p><input type='text' class='form-control' id='year' name='year' readonly="readonly"
                              value='{$model.year|default=""}' autocomplete='off'/></p>
                </div>
            </div>
            <div class='col-sm-12'>
                <div class='form-group'>
                    <label>缴纳月份</label>
                    <p>
                        <volist name="month_list" id="vo" key="k">
                            <label class="checkbox-initem i-checks"> <input type="checkbox" id="{$vo}" name="months[]"
                                                                            value="{$vo}"/> {$vo}月&nbsp;</label>
                        </volist>
                        <input type="hidden" name="month">
                    </p>
                </div>
            </div>
            <div class='col-sm-12'>
                <div class='form-group'>
                    <label>每月应缴金额</label>
                    <p><input type='text' class='form-control' readonly="readonly" id='should_pay_money'
                              value='{$model.should_pay_money|default=""}'
                              autocomplete='off'/></p>
                </div>
            </div>
            <div class='col-sm-12'>
                <div class='form-group'>
                    <label>缴纳金额</label>
                    <p><input type='text' class='form-control' readonly="readonly" id='money' name='money'
                              value='{$model.money|default="0"}'
                              autocomplete='off'/></p>
                </div>
            </div>
        </div>
    </form>
</div>
<div class='modal-footer'>
    <button type='button' class='btn btn-default' data-dismiss='modal'>取消</button>
    <button type='button' class='btn btn-primary' data-style='zoom-in' id='submit'>提交</button>
</div>

<script type='text/javascript'>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        }).on('ifChecked ifUnchecked', function (event) {
            $("#money").val($('input[name="months[]"]:checked').not(".disabled").length * $("#should_pay_money").val());
        });


        $('#web_user_id').change(function () {
            $('.i-checks').iCheck('uncheck');
            $('input[name="months[]"]').removeAttr("disabled");
            $('input[name="months[]"]').removeClass("disabled");
            $('input[name="months[]"]').parents('div.icheckbox_square-green').removeClass("disabled");
            if ($(this).val()) {
                $.ajax({
                    type: 'POST',
                    url: 'getDueInfo',
                    data: {
                        web_user_id: $(this).val(),
                    },
                    success: function (data) {
                        debugger;
                        if(data.status){
                            var paid_month=data.result['paid_month'];
                            var should_pay=data.result['should_pay'];
                            paid_month.forEach(function (value, i) {
                                var ch=$('input#'+value+'[name="months[]"]');
                                ch.attr("disabled","disabled");
                                ch.addClass("disabled");
                                ch.iCheck('check');
                                ch.parents('div.icheckbox_square-green').addClass("disabled");

                            });

                            if(should_pay>0){
                                $("#should_pay_money").val(should_pay);
                            }

                            $("#money").val('0');

                        }
                    },
                    error: function () {
                        toastr['error']('Error Occurred');
                    }
                })
            }

        });

        $("#year").addClass("pace");

        $('.day').datepicker({
            language: 'zh-CN',
            format: "yyyy-mm-dd",
            autoclose: true,
            pickerPosition: 'top-left',
            todayHighlight: true,
            todayBtn: 'linked',

        });

        function validate() {
            return $('#form').validate({
                rules: {
                    web_user_id: {
                        required: true,
                    },
                    year: {
                        required: true,
                    },
                    month: {
                        required: true,
                    },
                },
            }).form();
        }

        $('#submit').click(function () {
            if (validate()) {
                if ($('input[name="months[]"]:checked').not(".disabled").length <= 0) {
                    toastr['error']('请选择要缴纳的月份');
                    return false;
                }

                if ($("#should_pay_money").val() == '') {
                    toastr['error']('请先设置应交党费');
                    return false;
                }

                if ($("#money").val() <=0) {
                    toastr['error']('缴纳金额不正确');
                    return false;
                }

                var load_btn = Ladda.create(this);
                load_btn.start();
                var data = $('#form').serialize();

                $.ajax({
                    type: 'POST',
                    url: 'save_pay_cost',
                    data: data,
                    success: function (data) {
                        if (check_status(data)) {
                            $('#modal-md').modal('hide');
                            data_table.draw();
                        }
                    },
                    error: function () {
                        toastr['error']('Error Occurred');
                    }
                }).always(function () {
                    load_btn.stop();
                });

            }
        });
    });
</script>
