<div class="modal-header">
    重置密码
</div>
<div class="modal-body ">
    <form class="  " role="form" id="form">
        <input type="hidden" name="id" value="{$model.id|default=''}"/>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>用户名</label>
                    <p>
                        {$model.user_name}
                    </p>
                </div>
                <div class="form-group ">
                    <label>密码</label>
                    <p>
                        <input type="password" class="form-control" id="password" name="password" autocomplete="off"/>
                    </p>
                </div>
                <div class="form-group ">
                    <label>确认密码</label>
                    <p>
                        <input type="password" class="form-control" id="confirmpassword" name="confirmpassword"
                               autocomplete="off"/>
                    </p>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
    <button type="button" class="btn btn-primary" data-style="zoom-in" id="submit">提交</button>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        function validateValue() {
            return $("#form").validate({
                rules: {
                    password: {
                        required: true,
                    },
                    confirmpassword: {
                        required: true,
                        equalTo: "#password"
                    },
                },
            }).form();

        }

        $("#submit").click(function () {
            if (validateValue()) {
                var load_btn = Ladda.create(this);
                load_btn.start();
                var submitData = $('#form').serialize();
                $.ajax({
                    type: 'POST',
                    url: "reset_password",
                    data: submitData,
                    success: function (data) {
                        if (check_status(data)) {
                            $('#modal-sm').modal('hide');
                        }
                    },
                    error: function () {
                        toastr["error"]('连接失败');
                    }
                }).always(function () {
                    load_btn.stop();
                });
            }
        });
    });
</script>